@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/font-awesome/scss/font-awesome";

body, input, .btn {
    font-family: 'Montserrat', $font-family-sans-serif;
    font-weight: 300;
}

body {
    padding-top: 5rem;
}

button {
    span {
        pointer-events: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.navbar-brand {
    font-family: Lobster, $font-family-sans-serif;
}

.navbar-dark {
    .navbar-toggler {
        border: none;
        color: $white;
    }
}

#loader-popup {
    position: fixed;
    width: 18rem;
    top: 33%;
    left: 50%;
    margin-left: -9rem;
    border-radius: $border-radius;
    box-shadow: $dropdown-box-shadow;
    background-color: $cyan;
    color: #fff;
    padding: 1rem;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 3000;
    pointer-events: none;
}

#loader-popup.show {
    opacity: 1;
}

.expandable-box-sm, .expandable-box-lg, .navbar-items {
    height: 0;
    overflow: hidden;
}

.navbar-items {
    transition: height .2s ease-in-out;
}

.expandable-box-sm {
    transition: height .4s ease-in-out;
}

.expandable-box-lg {
    transition: height .6s ease-in-out;
}

.toolbox {
    button {
        background: transparent;
        border: 0;
        padding: 0;
        outline: none;
    }
    .toolbox-button {
        cursor: pointer;
        transition: $transition-base;
    }
    .toolbox-button:hover {
        color: $yellow !important;
    }
}

.popup-wrapper {
    position: relative;
    .popup, .search-result {
        background-color: $white;
        background-clip: padding-box;
        border: $dropdown-border-width solid $dropdown-border-color;
        border-radius: $border-radius;
        box-shadow: $dropdown-box-shadow;
        position: absolute;
        width: 100%;
    }
    .popup {
        bottom: 2em;
        padding: 0.5em;
        table, td {
            pointer-events: none;
        }
        .missing-letter {
            text-decoration: underline;
        }
        .alien-letter {
            text-decoration: line-through;
        }
    }
    .search-result {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            cursor: pointer;
            padding: .25rem .5rem;
            span, strong {
                pointer-events: none;
            }
        }
        li.selected {
            background-color: $gray-200 !important;
        }
        li:nth-child(odd) {
            background-color: $gray-100;
        }
    }
    .search-result.position-bottom {
        top: 2em;
    }
    .search-result.position-top {
        bottom: 2em;
    }
    .icon {
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        width: 21px;
    }
    .icon.show, .popup.show, .search-result {
        visibility: visible;
        opacity: 1;
        transition: $transition-base;       
    }
    .icon.show, .popup.show, .search-result {
        z-index: 2000;  
    }
    .icon, .popup, .search-result.hide {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: none;
    }
}

.person {
    position: relative;
    div {
        margin-top: 0.25em;
        position: absolute;
        white-space: nowrap;
    }
    input {
        visibility: hidden;
    }
}

.rarely-used-tense {
    h5,input {
        color: $text-muted;
    }
}

#flag-widget {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    z-index: 1000;

    #flag-widget-flag-container, #flag-widget-iso {
        border: $card-border-width solid $card-border-color;
        border-radius: $border-radius;
        background-color: $gray-800;
    }

    #flag-widget-flag-container {
        display: inline-block;
        padding: 0.5rem;
        #flag-widget-flag {
            width: 50px;
        }
    }

    #flag-widget-iso {
        margin-top: 0.25rem;
        color: $white;
        text-align: center;
        padding: 0 0.5rem;
    }
}

.footer {
    @extend .fixed-bottom;
    z-index: 3000;
    position: relative;
    padding: 0 1rem;
    .language, .social-media, .copyright {
        height: 56px;
    }
    .social-media {
        line-height: 54px;
    }
    .language, .copyright {
        line-height: 58px;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    body {
        padding-bottom: 4rem;
    }
    .expandable-box-sm {
        transition: height .2s ease-in-out;
    }
    .expandable-box-lg {
        transition: height .4s ease-in-out;
    }
    .navbar-items {
        height: initial;
    }
    .footer {
        position: fixed;
    }
}
